<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <link rel="stylesheet" href="css/style.css">
    <title>ToDoList</title>
</head>

<body>
    <main id="root">

        <div class="general-container">
            <h3>{{benvenuto}}</h3>
            <div class="input-container">
                <input type="text" placeholder="Scrivi un'attività" v-model="inputText" v-on:keyup.enter="addActivity">
                <button @click="addActivity">Aggiungi</button>
            </div>
            <div class="list-element" v-for="(attività,indice) in activityList">
                <div class="left-line"></div>
                <span>{{attività.testo}}</span>
                <div class="close">
                    <a href="#" @click="deleteActivity(indice)">X</a>
                </div>
            </div>

        </div>
    </main>
    <footer></footer>
    <script src="js/script.js"></script>



</body>

</html>